.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 3px;
  width: 100%;
  input {
    background-color: inherit;
    border: none;
    gap: 5px;
    padding: 12px;
    width: 100%;
    &::placeholder {
      color: black;
    }
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}

.passwordField {
  padding-right: 13px;
}

.icon {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
