.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-right: 12px;
  margin-bottom: 3px;
  width: 100%;
  input {
    background-color: inherit;
    border: none;
    gap: 5px;
    padding: 12px;
    width: 100%;
  }
}
