.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
  width: 100%;
  div {
    width: 80%;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
    gap: 4%;
  }
  h3 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 5% 3%;
    line-height: 0.5;
  }
  hr {
    width: 100%;
    border: 2px solid var(--secondary-color);
  }
  .info {
    display: flex;
    justify-content: flex-end;
    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

/* Versión original
 .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2% 0;
  p {
    margin: 0;
  }
  img {
    width: 50%;
  }
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0.3;
  text-decoration: none;
}

.selected {
  opacity: 1;
} */
